.container {
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.search-input {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}

.search-btn {
  outline: none;
  position: absolute;
  right: 0;
  top: 10%;
  border: none;
  background: url('../public/img/search-btn.png');
  width: 32px;
  height: 32px;
}

.wrapper {
  color: black;
  background-color: white;
}

.book-card {
  height: 100%;
  background-color: lightgray;
  border: none;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.book-poster {
  height: 100%;
  background-color: lightgray;
}

.book-description {
  width: 100%;
  min-height: 200px;
  box-sizing: content-box;

  padding: 2%;
  margin-top: 2rem;
  border: solid lightgray 1px;

  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 720px) {
  .book-description {
    font-size: 16px;
  }
}
