.container {
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.search-input {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}

.search-btn {
  outline: none;
  position: absolute;
  right: 0;
  top: 10%;
  border: none;
  background: url('../public/img/search-btn.png');
  width: 32px;
  height: 32px;
}

.wrapper {
  color: black;
  background-color: white;
}

.book-card {
  background-color: lightgray;
  border: none;
}
